-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";

	//-	header
	let h1_header_top = "Welcome to", h1_header_top_color = "Landkit", h1_header_top_br = "Develop anything.";
	let text_header_top = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
	let linkOne_header_top = "/o-firmie", linkOne_text_header_top = "Poznaj Nas"; 
	let linkTwo_header_top = "/szkolenia-bhp", linkTwo_text_header_top = "Szkolenia Online";
	let image_header_top = "images/header/contakt/header-contakt.webp", altImage_header_top = "elo";

	//-	four-columnV1
	let images_four_columnV1 = "images/icons/check/check-header.svg", alt_four_columnV1 = "alt",header_four_columnV1 = "Lorem Ipsum dolar", text_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images2_four_columnV1 = "images/icons/check/check-header.svg", alt2_four_columnV1 = "alt",header2_four_columnV1 = "Lorem Ipsum dolar", text2_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images3_four_columnV1 = "images/icons/check/check-header.svg", alt3_four_columnV1 = "alt",header3_four_columnV1 = "Lorem Ipsum dolar", text3_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images4_four_columnV1 = "images/icons/check/check-header.svg", alt4_four_columnV1 = "alt",header4_four_columnV1 = "Lorem Ipsum dolar", text4_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";

	//-	footer
	let alternative_footer = "DOWIEDŹ SIĘ WIĘCEJ";
	let header_footer = "Lorem ipsum dolor sit amet";
	let text_footer = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let buttonName_footer = "Lorem ipsum";

include ../common-components/_head

mixin headquarters-toogle(data = [])
	ul(class="nav" id="myTab" role='tablist')
		each item, index in data
			li(class="nav-item" role="presentation")
				a(class="headquarters__button nav-item" class=index==0?'active':'' id=item.id+'-tab' data-bs-toggle='tab' href='#'+item.id role='tab' aria-controls=item.id aria-selected=index==0?'true':'false')=item.city
	div(class="headquarters__wrap tab-content" id="myTabContent")
		each item, index in data
			div(class="tab-pane" class=index==0?'active fade show':'' id=item.id role="tabpanel" aria-labelledby=item.id+'-tab')
				div(class="row")
					div(class="col-lg-7 headquarters__images-wrap")
						div(class="headquarters__images")
							img(src=item.mapImage alt="" class="headquarters__images-items")
					div(class="col-lg-5")
						div(class="headquarters__box-content")
							h3 BHP Inka
								span(class="headquarters__color-header")=item.city
							address(class="headquarters__address")
								b Siedziba firmy
								span=item.street
								span=item.postCode
							span(class="headquarters__contact-details")
								b Dane do korespondencji
								a(href=item.phoneURL)=item.phone
								a(href=item.emailURL)=item.email
							span(class="headquarters__opening-hours")
								b Godziny otwarcia <br />
								=item.openingHours
							a(href=item.locationURL class="primary-button headquarters__button-maps")
									| Sprawdź dojazd
									span(class="button-arrow-right")

body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_header
		section.section-wrapper.section-wrapper-AddColor
			div.container
				div.headquarters 
					h2 Dane kontaktowe
					+headquarters-toogle(
						[
							{
								id: 'katowice',
								mapImage: 'images/maps/maps.webp',
								city: 'Katowice',
								street: 'ul. Gałczyńskiego 21',
								postCode: '41-215 | Sosnowiec',
								phoneURL: '#',
								phone: '+48 515 760 315',
								emailURL: '#',
								email: 'nkabhp@gmail.com',
								openingHours: 'pon-pt: 9:00 - 20:00 ',
								locationURL: 'https://www.google.com/maps/dir//Bednarska+2,+Pozna%C5%84/@52.4128145,16.8867214,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x470444c73b24a59b:0x1844d1282bff599a!2m2!1d16.8889101!2d52.4128112?hl=PL',
							},
							{
								id: 'sosnowiec',
								mapImage: 'images/maps/maps.webp',
								city: 'Sosnowiec',
								street: 'ul. Gałczyńskiego 21',
								postCode: '41-215 | Sosnowiec',
								phoneURL: '#',
								phone: '+48 515 760 315',
								emailURL: '#',
								email: 'nkabhp@gmail.com',
								openingHours: 'pon-pt: 9:00 - 20:00',
								locationURL: '#',
							},
							{
								id: 'chodow',
								mapImage: 'images/maps/maps.webp',
								city: 'Chodów',
								street: 'ul. Gałczyńskiego 21',
								postCode: '41-215 | Sosnowiec',
								phoneURL: '#',
								phone: '+48 515 760 315',
								emailURL: '#',
								email: 'nkabhp@gmail.com',
								openingHours: 'pon-pt: 9:00 - 20:00 ',
								locationURL: '#',
							},
						]
					)

		section.contakt-two.section-wrapper-AddColor
			div.container
				div.row
					div.col-lg-5
						form(action="").contakt-two__wrap
							h2 Formularza kontaktowy
							input(type="text" placeholder="Imię").contakt-two__input
							input(type="text" placeholder="Nazwisko").contakt-two__input
							input(type="text" placeholder="Firma").contakt-two__input
							input(type="text" placeholder="Numer telefonu").contakt-two__input
							input(type="text" placeholder="Adres mail").contakt-two__input
							textarea(name="elo" cols="30" rows="10" placeholder="Wiadomości").contakt-two__texttarea
							input(type="submit" valu="Wyślij Wiadomości").primary-button.contakt-two__button
					div.col-lg-7
						img(src="images/text-elements/home-bacground.webp" alt="").contakt-two__images
		include ../common-components/_footer
