header.container.header-top.section-wrapper
	div.row
		div.col-sm-6.header-top_text
			h1 #{h1_header_top} #[span.header-text_underline #{h1_header_top_color}]. #[br] #{h1_header_top_br}
			p.paragraph-text-bold #{text_header_top}
			div.wrap-button
				a(href=linkOne_header_top).primary-button #{linkOne_text_header_top} #[span.button-arrow-right]
				a(href=linkTwo_header_top).primary-button #{linkTwo_text_header_top}
		div.col-sm-6.header-top_images
			img(src=image_header_top, alt=altImage_header_top)
