mixin offer-elements( items)
	ul(class="list-information")
		each item in items
			li(class="list-information__items")
				span(class="list-information__items-iacon")
				span(class="paragraph-text-addColor")=item

section.contakt-one.section-wrapper
	div.container
		div.row
			div.col-xl-5.col-lg-6.col-md-6.col-sm-12
				div.contakt-one__left
					img(src=images_contakt_one, alt=images_contakt_alt).contakt-one__left__image
					form(action="").left-box
						input(placeholder="Imię i Nazwisko" type="text").left-box__items
						input(placeholder="Email" type="email").left-box__items
						input(placeholder="Telefon" type="tel").left-box__items
						input(value="Wyślij" type="button").left-box__button.primary-button
			div.col-xl-7.col-lg-6.col-md-6.col-sm-12
				div.contakt-one__right
					h2 #{h2_contakt_one} #[span.header-text_underline #{h2_color_contakt_one}]
					p.paragraph-text-bold #{text_contakt_one}	
					+offer-elements(
						[textIcon_contakt_one, textIconOne_contakt_one, textIconThree_contakt_one, textIconFour_contakt_one]
					)