section.three-column.section-wrapper
	div.container
		div.row
			div.col-xl-4.col-lg-4.col-md-4.col-sm-12.three-column__wrap
				span.three-column__icon.global-icon
					img(src=imagesOne_three_column, alt=altOne_three_column)
				h3 Lorem ipsum
				p.paragraph-text #{textOne_three_column}
			div.col-xl-4.col-lg-4.col-md-4.col-sm-12.three-column__wrap
				span.three-column__icon.global-icon
					img(src=imagesTwo_three_column, alt=altTwo_three_column)
				h3 Lorem ipsum
				p.paragraph-text #{textTwo_three_column}
			div.col-xl-4.col-lg-4.col-md-4.col-sm-12.three-column__wrap
				span.three-column__icon.global-icon
					img(src=imagesThree_three_column, alt=altThree_three_column)
				h3 Lorem ipsum
				p.paragraph-text #{textThree_three_column}
