section.two-columnV1.section-wrapper
	div.container
		div.row
			div.col-xl-5
				div.two-columnV1__left
					h2 #{h2_two_columnV1} #[span.header-text_underline #{h2_color_two_columnV1}]
					p.paragraph-text-bold.
						#{text_two_columnV1}
					div.column-iformation

						div.column-iformation__wrap
							span.global-icon.column-iformation__wrap-icon
								img(src= Icon_images_two_columnV1, alt= Icon_alt_two_columnV1)
							div.column-iformation__wrap-text
								h3 #{Icon_h3_two_columnV1}
								p.paragraph-text #{Icon_text_two_columnV1}

						div.column-iformation__wrap
							span.global-icon.column-iformation__wrap-icon
								img(src= Icon_imagesTwo_two_columnV1, alt= Icon_altTwo_two_columnV1)
							div.column-iformation__wrap-text
								h3 #{Icon_h3Two_two_columnV1}
								p.paragraph-text #{Icon_textTwo_two_columnV1}
			div.col-xl-7
				div.wrap-images
					img(src= images_two_columnV1, alt= alt_two_columnV1)
