section.two-columnV2
	div.container
		div.row
			div.col-xl-6.col-lg-6.col-md-12.global-flex-center
				h2 #{h2_two_columnV2} #[span.header-text_underline #{h2_two_color_columnV2}]
				p.paragraph-text-addColor #{text_two_columnV2}
				div.two-columnV2__number
					div.row
						div.two-columnV2__number-item
							span.two-columnV2__number-item__number #{InfNumber_two_columnV2}
							span.two-columnV2__number-item__text.paragraph-text #{InfText_two_columnV2}

						div.two-columnV2__number-item
							span.two-columnV2__number-item__number #{InfNumberTwo_two_columnV2}
							span.two-columnV2__number-item__text.paragraph-text #{InfTextTwo_two_columnV2}

						div.two-columnV2__number-item
							span.two-columnV2__number-item__number #{InfNumberThree_two_columnV2}
							span.two-columnV2__number-item__text.paragraph-text #{InfTextThree_two_columnV2}
			div.col-xl-6.col-lg-6.col-md-12
				img(src=images_columnV2 , alt= alt_columnV2)
